:root {
  --exito: #3ab65c;
  --error: #bf333b;
  --info: #1898c0;
  --warning: #bc8c12;
  --exito-hover: #2d8a46;
  --error-hover: #962a31;
  --info-hover: #147fa0;
  --warning-hover: #9b7512;

  --step--4: clamp(0.48rem, 0.47rem + 0.06vw, 0.51rem);
  --step--3: clamp(0.58rem, 0.55rem + 0.12vw, 0.64rem);
  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.06rem + 0.71vw, 1.56rem);
  --step-2: clamp(1.44rem, 1.24rem + 1vw, 1.95rem);
  --step-3: clamp(1.73rem, 1.45rem + 1.39vw, 2.44rem);
  --step-4: clamp(2.07rem, 1.69rem + 1.91vw, 3.05rem);
  --step-5: clamp(2.49rem, 1.97rem + 2.59vw, 3.82rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #1c1b20; */
  background: #29445a;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.contenedor {
  width: 80%;
  max-width: 1000px;
  margin: 150px auto;
}

.hero .titulo {
  font-weight: 800;
  font-size: var(--step-5);
  margin-bottom: 40px;
}

.hero .contenedor-botones {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: var(--step-0);
  background: #000;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease all;
}

.btn.exito {
  background: var(--exito);
}
.btn.error {
  background: var(--error);
}
.btn.info {
  background: var(--info);
}
.btn.warning {
  background: var(--warning);
}

/* Hover */
.btn.exito:hover {
  background: var(--exito-hover);
}
.btn.error:hover {
  background: var(--error-hover);
}
.btn.info:hover {
  background: var(--info-hover);
}
.btn.warning:hover {
  background: var(--warning-hover);
}

/* Toast */
.contenedor-toast {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column-reverse; /* Ojo */
  gap: 20px;
}

.toast {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  animation-name: apertura;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  position: relative;
}

.toast.exito {
  background: var(--exito);
}
.toast.error {
  background: var(--error);
}
.toast.info {
  background: var(--info);
}
.toast.warning {
  background: var(--warning);
}

.toast .contenido {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: 15px;
  /* padding: 15px; */
  padding: 5px;
}

.toast .icono {
  color: rgba(0, 0, 0, 0.4);
}

.toast .titulo {
  font-size: var(--step-0);
  font-weight: 600;
  margin-bottom: 5px;
}

.toast .btn-cerrar {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0px 5px;
  transition: 0.3s ease all;
}

.toast .btn-cerrar:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toast .btn-cerrar .icono {
  width: 20px;
  height: 20px;
  color: #fff;
}

@keyframes apertura {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast.cerrando {
  animation-name: cierre;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cierre {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 40px));
  }
}

.toast.autoCierre::after {
  content: "";
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  animation-name: autoCierre;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes autoCierre {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@media screen and (min-width: 992px) {
  .hero .titulo {
    font-size: 100px;
  }
}
